
<phpunit>
    <testsuites>
        <testsuite name="Our Vibe">
            <!--<file>ImageTest.php</file>-->
            <!--<file>VenueTest.php</file>-->
            <file>EventTest.php</file>
            <!--<file>TagTest.php</file>-->
           <!--<file>EventTagTest.php</file>-->
            <file>EventImageTest.php</file>
			 </testsuite>
		</testsuites>
		<filter>
			 <whitelist processUncoveredFilesFromWhitelist="false">
				  <directory suffix=".php">..</directory>
			 </whitelist>
		</filter>
  </phpunit>