/** css stylesheet **/
/****************************************
* navbar
*****************************************/


header, main, footer {
    padding-left: 300px;
    color: #801F18;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

/****************************************
* Body
*****************************************/
body {
    padding-top: 70px;
}

/****************************************
* Footer
*****************************************/
footer {
	margin: 50px 0;
}
