/** css stylesheet **/
/****************************************
* navbar
*****************************************/
/* css file */

body {
    padding-bottom: 3cm;
background-color: #1a1a1a;

}


h1 {
    color: steelblue;
    top: 1000%;
    font-size: 8rem;
    padding-top: 3rem;
   text-align: center;
}

#caption {
    color: whitesmoke;
    font-size: 24px;
}

h2, h3 {
    color: steelblue;
    padding-top: 3cm;
}

.bg {
    width: 100%;
    z-index: 0;
    background-color: #1a1a1a;
    padding-left: 10em;
}

p {
    color: whitesmoke;
    font-size: 2rem;
    padding: 2rem;
}

.navbar-brand {
    font-size: 3rem;
    color: steelblue;
    height: 50px;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}

.person:hover {
    border-color: steelblue;
}

#mainNavBar {

    padding-right: 3rem;
}

li>a{
    font-size: 2.5rem;
    color: steelblue;
}

.aboutP {
    color: whitesmoke;
    font-size: 4rem;
    text-align: center;
}

div>h3 {
    color: whitesmoke;
    font-size: 5rem;
    text-align: center;
}
div>p {
    color: steelblue;
    font-size: 5rem;
    text-align: center;
}


/****************************************
* main Header
*****************************************/
main-header {
	margin: 50px 0;
	background-color: #801F18;
	color: #1a1a1a;
}

/****************************************
* Main Body
*****************************************/
main-body {
    padding-top: 70px;
    background-color: #1a1a1a;
}

/****************************************
* Footer
*****************************************/
footer {
	padding: 2rem 0;
	background-color: #111;
	color: white;
}


/****************************************
* Sign-up
*****************************************/

#signUpForm {
    width: 75%;
    padding-left: 5rem;
}

/****************************************
* Images
*****************************************/

.img-responsive {
	padding: 2em;
}

/****************************************
* create event
*****************************************/

#create-event {
    width: 75%;
    padding-left: 5rem;
}


.col-md-6.center-block {
    padding-top: 10rem;
}
